.filter-name {
    border-radius: 18px;
    border: 2px solid #213b3d;
    box-shadow: 0 0 0 2px #489691;
    height: 36px;
    margin-right: 16px;
    width: 224px;
}
.filter-name .filter-input {
    height: 100%;
    width: 100%;
    background-color: #EAEAE8;
    border-radius: 18px;
    border: 0;
    color: #4F4D43;
    flex-grow: 1;
    font-size: 16px;
    outline: none;
    padding: 0 12px;
}
.filter-name:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}
